@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Joan', serif;
}

a {
    text-decoration: none;
    color:#adadad;
}

.btn {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #cd8c38;
    border-radius: 2rem;
    color: #1e1f26;
    transition: .3s;
}

.btn:hover {
    background-color: #92601f;
}

body {
    background-color: #000000;
    display: grid;
    grid-template-columns: 1000px;
    justify-content: space-evenly;
}


/* top bar */

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

.left-content {
    display: flex;
    align-items: center;
}

.title {
    color: #cd8c38;
    margin:0;
    font-size:30px;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    margin-right: 1rem;
}

.navigation li a:hover {
    color: #cd8c38;
}

.active {
    color: #cd8c38;
}


img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* movies container */

.landing-img-box {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
}


.buttons {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

.btn-alt {
    background-color: #1e1f26;
    color: #cd8c38;
    border: 1px solid #cd8c38;
    margin-left: 1rem;
}

.btn-alt:hover {
    color: #1e1f26;
    background-color: #cd8c38;
}


/* current movies */

.movies-container {
    padding-bottom: 2rem;
}

.current-movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
padding-bottom: 2rem;

}

.current-movie {
    background-color: #950101;
    padding: 1rem;
    border-radius: .5rem;
}


.cm-img-box {
    position: relative;
    height: 230px;
    width: auto;
    margin-bottom: 1rem;
    border-radius: .5rem;
    overflow: hidden;
}

.movie-title {
    color: #fff;
    margin-bottom: .2rem;
}

.booking {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.genre {
    color: #fff;
    
}


/* Movies page */

.movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

}

.movie {
    background:linear-gradient(90deg, rgba(149, 1, 1, 1)3%, rgba(149, 1, 1, 0.84)37%);
    padding: 1rem;
    border-radius: .5rem;
}



.cm-img-box {
    position: relative;
    height: 230px;
    width: auto;
    margin-bottom: 1rem;
    border-radius: .5rem;
    overflow: hidden;
}

.movie-title {
    color: #fff;
    margin-bottom: .2rem;
}

.booking {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.genre {
    color: #fff;
    
}
